/storage/*
!/storage/app/
/storage/app/*
!/storage/app/document_templates/
!/storage/app/document_templates/**
/node_modules
/node-scripts
/node_scripts
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.idea
