{
  "arrowParens": "always",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.js",
  "printWidth": 80
}
